<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Murat Çorlu: PhoneGap Test Uygulaması</name>

	<description>
		PhoneGap ile uygulama geliştirme denemesi
	</description>

	<author href="http://muratcorlu.com"
		email="muratcorlu@gmail.com">
		Murat Çorlu
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
